<!DOCTYPE html>
<html lang="ko" 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height:auto;">
                <div class="card-header">
                    <h3>Reset Password</h3>
                </div>
                <div class="card-body">
                    <form id="frm" th:action=@{/reset/password} method="post">
                    <div class="alert alert-success" role="alert" style="display:none;">
                      <h4 class="alert-heading">Well done!</h4>
                      <p>해당 비밀번호는 임시로 생성된 비밀번호 입니다. <br />로그인 후 꼭 비밀번호를 변경하여 주세요.</p>
                      <hr>
                      <p class="mb-0"></p>
                    </div>
                        <div class="alert alert-danger" role="alert" style="float:left; margin-right:1rem; display:none;" ></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" onkeyup="checkUserName()" class="form-control" name="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="submit" onclick="resetPassword()" value="확인" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="/login">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script th:inline="javascript">
    
        document.querySelector("#frm").addEventListener('submit', function(e) {
            e.preventDefault();
    
            resetPassword();
        });
    
        function checkUserName() {
        	const data = document.querySelector("input[name=username]").value;
        	
        	let isExist = true;
            $.ajax({
                type:"POST"
                , url: "/reset/password/check"
                , data: JSON.stringify(data)
                , dataType : "json"
                , contentType: "application/json"
                , cache: false
                , success: function(data) {
                    let alert = document.querySelector(".alert.alert-danger");
                    
                    if (empty(data)) {
                        alert.innerText = "";
                        alert.style.display = "none";
                        isExist = true;
                        document.querySelector(".btn.float-right.login_btn").removeAttribute("disabled");
                    } else {
                        alert.innerText = data;
                        alert.style.display = "initial";
                        isExist = false;
                        document.querySelector(".btn.float-right.login_btn").setAttribute("disabled", "disabled");
                    }
                }
            });
            
            return isExist;
        }
    
        document.querySelector("input[name=username]").addEventListener("keydown", key => {
            if (key.keyCode == 13) {
            	resetPassword();
            }
        });
        
        function resetPassword() {
            const isExist = checkUserName();
            
            if (!isExist) {
                return;
            }
        	
        	const userName = document.querySelector("input[name=username]").value.trim();
        	const data = JSON.stringify({ username : userName });
        	
            $.ajax({
                type:"POST"
                , url: "/reset/password"
            	, data: data
                , dataType : "json"
                , contentType: "application/json"
                , cache: false
                , success: function(data) {
                	let alert = document.querySelector(".mb-0");
                    alert.innerText = data;
                    
                    document.querySelector(".alert.alert-success").style.display = "block";
                }
            });
        }
    </script>
</html>