<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footerFragment">
      <div class="container">
        <div id="copyright" style="float: left">
            <p class="text-muted"> Copyright 2020. Junggu Ji all rights reserved. </p>
        </div>
        <div id="github" style="float: right">
            <section>
                <p class="text-muted"> <a href="https://github.com/elementbyid/wordbook" class="text-muted"> Github </a> </p>
            </section>
        </div>
      </div>
</footer>
</html>