<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <meta charset="UTF-8" />
<nav th:fragment="headerFragment" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">단어 시험</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/word/test">Test</a>
      </li>
      <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Add
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" th:href="@{/word/add}">Typing</a>
              <a class="dropdown-item" th:href="@{/word/add/file}">File Upload</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/profile" sec:authorize="isAuthenticated()">Profile</a>
      </li>
    </ul>
  </div>
  <a th:href="@{/login}" sec:authorize="!isAuthenticated()"  class="btn btn-outline-success my-2 my-sm-0" style="margin: 1rem">Sign In</a>
  <a th:href="@{/user/create}" sec:authorize="!isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0" >Sign Up</a>
  <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0" >Sign Out</a>
</nav>
   
</html>