<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="layout/default">
    
    <th:block layout:fragment="content">
        <h2> Word Add </h2>
        <p class="lead">
            테스트 할 단어를 추가 하는 페이지 입니다. <br />
            뜻이 여러 가지 일 경우 "," 로 구분하여 입력하여야 합니다.
        </p>
        <form th:action="@{/word/add}" th:object="${word}" class="form-horizontal" id="add-owner-form" method="post">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('words')}" th:errors="*{words}" role="alert"></div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('meanings')}" th:errors="*{meanings}" role="alert"></div>
            <div class="submit" style="float: right">
                <button class="btn btn-success button-margin" type="submit" id="save" name="save" th:text="#{word.create}" disabled>Add Word</button>
                <button class="btn btn-primary button-margin" type="submit" id="addRow" name="addRow" th:text="#{word.row.add}">Add row</button>
                <button class="btn btn-danger" type="submit" id="removeRow" name="removeRow" onclick="remove()" disabled>Remove Row</button>
            </div>
            <br />
            <br />
            <table id="table_8" class="table classic">
                <thead>
                <tr>
                    <th th:text="#{word.rows.head.rownum}">Row</th>
                     <th th:text="#{word.rows.head.word}"></th>
                     <th >뜻</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="row,rowStat : *{words}">
                        <td style="text-align: center;"><b th:text="${rowStat.count}" >1 </b></td>
                        <td>
                          <input onkeyup="isDisabled()" class="form-control" th:field="*{words[__${rowStat.index}__].text}">
                        </td>
                        <td>
                          <input onkeyup="isDisabled()" class="form-control" th:field="*{meanings[__${rowStat.index}__].text}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        
        <link rel="stylesheet" th:href="@{/lib/jui-grid/dist/grid-jennifer.css}" />
        <style>
            .button-margin {
                margin-right: 1rem;
            }
        </style>
        <script th:inline="javascript">
            window.onload = () => {
                clearliTagClass();
                addClassliTag(2);
                isSaveDisabled();
                isRemoveDisabeld();
            }
            
            function remove() {
            	isDisabled();
            }
            
            function isRemoveDisabeld() {
            	if (document.querySelectorAll("input.form-control").length === 2) {
                    document.querySelector("#removeRow").setAttribute("disabled", "disabled");
                } else {
                    document.querySelector("#removeRow").removeAttribute("disabled");
                }
            }
            
            function isSaveDisabled() {
            	const inputTag = document.querySelectorAll("input.form-control");
                let isInputNotEmpty = true;
                
                for (i = 0; i < inputTag.length; i++) {
                    if (empty(inputTag[i].value)) {
                        isInputNotEmpty = false;
                        break;
                    }
                }
                
                if (isInputNotEmpty) {
                    document.querySelector("#save").removeAttribute("disabled");
                } else {
                	document.querySelector("#save").setAttribute("disabled", "disabled");
                }
            }
        </script>
    </th:block>
</html>