<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="layout/default">
    
    <th:block layout:fragment="content">
        <h1><span th:text="#{word.home.introduce}"></span></h1>
        <br />
        <p class="lead">
            <span th:utext="#{word.home.infomation}"></span>
        </p>
        <br />
        <br />
        <div>
            <div style="float: left">
                <span th:text="#{word.home.curve}"></span> <br />
                <a href="https://ko.wikipedia.org/wiki/%EB%A7%9D%EA%B0%81_%EA%B3%A1%EC%84%A0">
                    <img th:src="@{/images/forgetting_curve.png}" th:attr="alt='#{word.home.curve}',height=300, width=300" />
                </a>
            </div>
            <div style="pedding: 60px">
                <span th:text="#{word.home.testcycle}"></span> <br />
                <img th:src="@{/images/calendar.png}" th:attr="alt='#{word.home.testcycle}',height=300, width=300"/>
            </div>
        </div>
        <script th:inline="javascript">
            window.onload = () => {
                clearliTagClass();
                addClassliTag(0);
            }
        </script>
    </th:block>
</html>