<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="layout/default">
    
    <th:block layout:fragment="content">
        <div class="progress" style="height: 2rem">
          <div class="progress-bar bg-success" role="progressbar" style="width: 0%; height:100px" aria-valuenow="0" aria-valuemin="0"></div>
        </div>
        <div class="form-group" style="margin-top: 50px">
            <h1 class="cover-heading" id="word"> </h1>
            <p class="lead">위 단어에 해당하는 뜻을 한글로 적어주세요.</p>
            
            <input type="hidden" id="currentIndex" value="" />
            <input type="text" class="form-control" id="answer" placeholder="뜻을 입력하세요"/> <br />
            
            <button onclick="button(this)" class="btn btn-lg btn-default" value="확인"> 확인 </button>
            
            <br />
                <h1 class="cover-heading" id="result"> </h1> 
            <p class="lead" id="different"> </p>
        </div>
        
        <script th:inline="javascript">
            /* <![CDATA[ */   
            var wordList =  [(${wordList})];
            const answerList = [];
            const progressPercent = (1 / wordList.length) * 100;
            
            window.onload = () => {
            	if (empty(wordList)) {
            		
            		if (confirm("오늘 시험 볼 단어가 없습니다. \n 여태 시험 본 단어들 중 랜덤으로 시험보시겠습니까?")) {
            			alert("최대 15개의 단어가 선택됩니다.");
            			window.location.href = /*[[@{/word/test/random}]]*/
            		} else {
            			window.location.href = /*[[@{/}]]*/
            		}
            	}
            	
                init();
            }
            
            const init = () => {
                document.querySelector(".progress-bar").setAttribute("aria-valuemax", wordList.length);
                
                clearliTagClass();
                addClassliTag(1);
                
                printWord();
            }
            
            document.querySelector("#answer").addEventListener("keydown", key => {
                if (key.keyCode == 13) {
                    button(document.querySelector("button"));
                }
            });
        
            const button = (element) => {
                const answerTag = document.querySelector("#answer");
                
                if(empty(answerTag.value)) {
                    alert("값을 입력해주세요.");
                    answerTag.focus();
                    return;
                }
                
                if (element.value === "확인") {
                    check(answerTag);
                    element.value = "계속하기";
                    element.innerHTML = "계속하기";
                    
                    answerTag.focus();
                } else {
                    printWord();
                    
                    element.value = "확인";
                    element.innerHTML = "확인";
                }
            }
            
            function printWord() {
                const currentIndex = Math.floor(Math.random() * wordList.length);
                clear(currentIndex);
                
                const wordTag = document.querySelector('#word');
                
                wordTag.innerHTML = wordList[currentIndex].word;
                wordTag.style.color = "#fff"
            }
            
            const clear = (currentIndex) => {
                document.querySelector('#currentIndex').value = currentIndex;
                document.querySelector('#result').innerHTML = "";
                document.querySelector("#different").innerHTML = "";
                
                answerTagNotDisabled();
            };
            
            function check(answerTag) {
                answerTagDisabled(answerTag);
                
                const currentIndex = document.querySelector('#currentIndex').value;
                const meanArray = stringToArray(wordList[currentIndex].meaning);
                
                if (meanArray.includes(answerTag.value)) {
                	setCheckResult("green", "정답", 1);
                    
                    progressSetting();
                    wordList.splice(currentIndex, 1);
                } else {
                	setCheckResult("red", "오답", 0);
                }
                
                if (wordList.length == 0) {
                    let href = window.location.href;
                    
                    if (href.endsWith("random")) {
                        answersUpdateForRandom();
                    } else {
                        answersUpdate();
                    }
                }
            }
            
            const setCheckResult = (tagColor, result, trueOrFalse) => {
                setWordAndResultTag(tagColor, result);
                setAnswerList(currentIndex, trueOrFalse);
                setDiffrentMeaning(currentIndex);
            }
            
            const setWordAndResultTag = (wordInput, resultInput) => {
                const wordTag = document.querySelector('#word');
                const resultTag = document.querySelector('#result');
                
                wordTag.style.color = wordInput;
                resultTag.innerHTML = resultInput;
            };
            
            const setAnswerList = (currentIndex, value) => {
                answerList.push(wordList[currentIndex].id+"_" + value);
            };
            
            const setDiffrentMeaning = (currentIndex) => {
                document.querySelector("#different").innerHTML = "(" + wordList[currentIndex].meaning + ")";
            }
            
            const progressSetting = () => {
                let progressCurrent = progressCurrentValue();
                
                document.querySelector(".progress-bar").setAttribute("aria-valuenow", ++progressCurrent);
                document.querySelector(".progress-bar").style.width = (progressCurrent * progressPercent) + "%";
            };
            
            const progressCurrentValue = () => {
                return parseInt(document.querySelector(".progress-bar").getAttribute("aria-valuenow"));
            };
            
            const answerTagDisabled = (answerTag) => {
                answerTag.setAttribute("readonly","readonly");
                answerTag.style.color = "#495057";
            };
            
            const answerTagNotDisabled = () => {
                const answerTag = document.querySelector("#answer");
                
                answerTag.removeAttribute("readonly");
                answerTag.value = "";
                answerTag.focus();
            };
            
            const stringToArray = (str) => {
                const array = str.split(",");
                return arrayElementTrim(array);
            };
            
            const arrayElementTrim = (array) => {
                for (i = 0; i < array.length; i++) {
                    array[i] = array[i].trim();
                }
                
                return array;
            };
            
            const empty = (value) => { 
                if (value === null) return true 
                if (typeof value === 'undefined') return true 
                if (typeof value === 'string' && value === '') return true 
                if (Array.isArray(value) && value.length < 1) return true 
                if (typeof value === 'object' && value.constructor.name === 'Object' && Object.keys(value).length < 1 && Object.getOwnPropertyNames(value) < 1) return true 
                if (typeof value === 'object' && value.constructor.name === 'String' && Object.keys(value).length < 1) return true // new String() return false }
            };
        
            function answersUpdate() {
                let dataa = JSON.stringify(answerList);
                
                $.ajax({
                    type:"POST"
                    , contentType: "application/json"
                    , url: "/word/answers"
                    , data: dataa
                    , dataType : 'json'
                    , cache: false
                    , success: function(data) {
                        alert(data);
                        alert("시험 끝");
                    }
                });
            }
            
            function answersUpdateForRandom() {
                let dataa = JSON.stringify(answerList);
                
                $.ajax({
                    type:"POST"
                    , contentType: "application/json"
                    , url: "/word/answers/random"
                    , data: dataa
                    , dataType : 'json'
                    , cache: false
                    , success: function(data) {
                        alert(data);
                        alert("시험 끝");
                    }
                });
            }
            /* ]]> */
        </script>
    </th:block>
</html>