<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="layout/default">
    
    <th:block layout:fragment="content">
        <h1> 유저 정보 Form </h1>
        <table class="table table-striped" th:object="${user}">
          <tr>
            <th>Name</th>
            <td><b th:text="*{username}"></b></td>
          </tr>
        </table>
        <table id="table_8" class="table classic">
            <thead>
            <tr>
                <th width="50px">No</th>
                <th>Name</th>
                <th>Age</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    
        <div id="grid"></div>
        <!-- Basic style components -->
        <link rel="stylesheet" th:href="@{/lib/jui/dist/ui.min.css}" />
        <link rel="stylesheet" th:href="@{/lib/jui/dist/ui-jennifer.min.css}" />

        <!-- Grid style components -->
        <link rel="stylesheet" th:href="@{/lib/jui-grid/dist/grid.min.css}" />
        <link rel="stylesheet" th:href="@{/lib/jui-grid/dist/grid-jennifer.min.css}" />
        
        <!-- Required script files -->
        <script th:src="@{/lib/jui-core/dist/core.min.js}"></script>
        
        <!-- Basic script components -->
        <script th:src="@{/lib/jui/dist/ui.min.js}"></script>
        
        <!-- Grid script components -->
        <script th:src="@{/lib/jui-grid/dist/grid.min.js}"></script>

         <script id="tpl_row" type="text/template">
             <tr>
                 <td><!= row.index !></td>
                 <td><!= word !></td>
                 <td><!= meaning !></td>
                 <td><!= location !></td>
             </tr>
         </script>
    <script th:inline="javascript">
            /* <![CDATA[ */
            	var data = [(${data})];
            	jui.ready([ "grid.table" ], function(table) {
                table_8 = table("#table_8", {
                    fields: [ null, "word", "meaning", "location" ],
                    data: data
                    ,
                    editRow: [ "word", "meaning" ],
                    resize: true,
                    sort: true,
                    event: {
                        editend: function(row) {
                            for(var key in row.data) {
                                if(key == "age" && isNaN(row.data[key])) {
                                    alert("Age must enter a numeric value.");
                                    return false;
                                }
                            }
                        }
                    },
                    tpl: {
                        row: $("#tpl_row").html()
                    }
                });
            });
  
           /* ]]> */
    </script>
    </th:block>
    
</html>